<a th:fragment="card_image(source)" th:href="${source.scryfall_uri}" target="_blank">
    <div th:if="${#lists.isEmpty(source.card_faces)}">
        <img class="d-block d-sm-none mx-auto" th:src="${source.image_uris.small}" width="120" />
        <img class="d-none d-sm-block d-md-none mx-auto" th:src="${source.image_uris.small}" />
        <img class="d-none d-md-block mx-auto" th:src="${source.image_uris.normal}" height="360" />
    </div>
    <div th:unless="${#lists.isEmpty(source.card_faces)}">
        <div class="dfc" th:each="face: ${source.card_faces}">
            <img class="d-inline-block d-sm-none mx-auto dfc" th:src="${face.image_uris.small}" height="168" width="46" />
            <img class="d-none d-sm-inline-block d-md-none mx-auto dfc" th:src="${face.image_uris.small}" />
            <img class="d-none d-md-inline-block mx-auto dfc" th:src="${face.image_uris.normal}" height="360" width="130" />
        </div>
    </div>
</a>
