<a th:fragment="card_image(source)" th:href="${source.scryfall_uri}" target="_blank" rel="noreferrer">
    <div class="d-inline-block" th:if="${#lists.isEmpty(source.card_faces)}">
        <div class="d-inline-block d-sm-none mx-auto"><img th:src="${source.calculated_small}" width="120" /></div>
        <div class="d-none d-sm-inline-block d-md-none mx-auto"><img th:src="${source.calculated_small}" /></div>
        <div class="d-none d-md-inline-block mx-auto"><img th:src="${source.calculated_normal}" height="360" /></div>
    </div>
    <div class="d-inline-block" th:unless="${#lists.isEmpty(source.card_faces)}">
        <div class="dfc" th:each="face: ${source.card_faces}">
            <img class="d-inline-block d-sm-none mx-auto" th:src="${face.image_uris.small}" width="120" />
            <img class="d-none d-sm-inline-block d-md-none mx-auto" th:src="${face.image_uris.small}" />
            <img class="d-none d-md-inline-block mx-auto" th:src="${face.image_uris.normal}" height="360" />
        </div>
    </div>
</a>
