<div th:fragment="contains_create(cardlist)">
    <div class="card" th:if="${cardlist != null}">
        <div class="card-header">
            <button class="btn btn-block btn-primary" type="button" data-toggle="collapse" data-target="#mightMakeTokens" aria-expanded="true" aria-controls="mightMakeTokens">
            Other Tokens
            </button>
        </div>
        <div class="card-body  collapse show" id="mightMakeTokens">
            <h5 class="">These cards might create tokens, but have no officially associated token card.</h5>
            <div class="d-inline-block" th:each="source: ${cardlist}">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><div th:insert="fragments/card_image_link.html :: card_image(${source})"></div></li>
                </ul>
            </div>
        </div>
    </div>
</div>