<div th:fragment="search_list(full_list)">
    <div class="accordion" id="accordionSearchList">
        <div class="card">
            <div class="card-header">
                <button class="btn btn-block btn-primary" type="button" data-toggle="collapse" data-target="#searchList" aria-expanded="true" aria-controls="searchList">
                Decklist
                </button>
            </div>
            <div class="card-body collapse show" id="searchList">
                <h5 class="text-center text-no-select">This is a cleaned version of the decklist you submitted.</h5>
                <blockquote class="blockquote" >
                    <span th:each="result: ${full_list}"><span class="text-left mb-2" th:text="${result}"></span><br /></span>
                </blockquote>
            </div>
        </div>
    </div>
</div>