<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>TokenFinder</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="style.css" rel="stylesheet"/>
</head>
<body>
    <p class="explanation">
        Enter any number of cards separated by newlines. Don't worry about leading numbers ("2 Lightning Bolt") - those are ignored.
    </p>
    <form th:action="@{/tokens}" id="deck" method="post">
        <div><textarea form="deck" name="cardlist" rows="20" cols="30"></textarea></div>
        <div><input type="submit" value="Search"/></div>
    </form>
</body>
</html>