<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments/header.html :: headerfiles(title='Error')"></head>
<body>
    <div th:insert="fragments/header.html :: scripts"></div>
    <nav th:insert="fragments/header.html :: navbar"></nav>

    <main role="main" class="container">
        <h3>Sorry, an error occurred.</h3>
        
        If you can <a th:href="${googleform}">tell us</a> what you were doing when it happened, we can try to fix it.
    </main>
    <footer th:insert="fragments/footer.html :: footer"></footer>
</body>
</html>