<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:insert="fragments/header.html :: headerfiles(title='All Printings: ' + ${cardname})"></head>
<body>
    <div th:insert="fragments/header.html :: scripts"></div>
    <nav th:insert="fragments/header.html :: navbar"></nav>

    <main role="main" class="container">
    <div class="accordion" id="accordionTokens">
        <div class="card">
            <div class="card-header">
                <button class="btn btn-block btn-primary" type="button" data-toggle="collapse" data-target="#foundTokens" aria-expanded="true" aria-controls="foundTokens"
                    th:text="${'All Printings for: ' + cardname}">
                </button>
            </div>
            <div class="card-body collapse show" id="foundTokens">
                <div class="row justify-content-center">
                    <div class="col w-50" th:each="result: ${results}">
                        <ul class="list-group list-group-flush sourcerow">
                            <li class="list-group-item"><a th:insert="fragments/card_image_link.html :: card_image(${result})"></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>         
    </main>

    <footer th:insert="fragments/footer.html :: footer"></footer>
</body>
</html>