<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments/header.html :: headerfiles"></head>
<body>
    <div th:insert="fragments/header.html :: scripts"></div>
    <nav th:insert="fragments/header.html :: navbar"></nav>

    <main role="main" class="container searchForm">
        <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item"><a class="nav-link active" id="text-tab" data-toggle="tab" href="#text" role="tab" aria-controls="text" aria-selected="true">Text</a></li>
            <li class="nav-item"><a class="nav-link" id="deckboxurl-tab" data-toggle="tab" href="#deckboxurl" role="tab" aria-controls="deckboxurl" aria-selected="true">From URL</a></li>
        </ul>

        <div class="tab-content">
            <div class="tab-pane fade show active" id="text" role="tabpanel" aria-labelledby="text-tab">
                <h6 class="mt-3">Enter cards separated by newlines:</h6>
                <form th:action="@{/tokens}" id="deck" method="post" autocomplete="off">
                    <div class="form-group">
                        <textarea class="form-control" rows="10" form="deck" name="cardlist" placeholder="Don't worry about leading numbers (e.g., &quot;2&nbsp;Raise&nbsp;the&nbsp;Alarm&quot;, &quot;3x&nbsp;Lingering&nbsp;Souls&quot;), they will be ignored."></textarea>
                    </div>
                    <div class="form-check">                       
                        <input type="checkbox" id="matchExact" name="matchExact">
                        <label for="matchExact">Match exact names only</label>
                    </div>
                    
                    <button type="submit" class="btn btn-lg btn-primary btn-block">Show Tokens</button>
                </form>
            </div>
            <div class="tab-pane fade" id="deckboxurl" role="tabpanel" aria-labelledby="deckboxurl-tab">
                <h6 class="mt-3">Enter URL:</h6>
                <form th:action="@{/fromurl}" id="deckbox" method="post" autocomplete="off">
                    <div class="form-group">
                        <input class="form-control form-control-sm" form="deckbox" type="text" name="deckboxurl" />
                    </div>                    
                    <button type="submit" class="btn btn-lg btn-primary btn-block">Show Tokens</button>
                </form>
                <p class="mt-4">
                    The following websites are supported for URL importing:
                    <ul>
                        <li th:each="site: ${sites}" th:text="${site}"></li>
                    </ul>
                </p>
            </div>
        </div>
    </main>
    <footer th:insert="fragments/footer.html :: footer"></footer>
</body>
</html>