<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:insert="fragments/header.html :: headerfiles"></head>
<body>
    <div th:insert="fragments/header.html :: scripts"></div>
    <nav th:insert="fragments/header.html :: navbar"></nav>

    <main role="main" class="container searchForm">
        <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item"><a class="nav-link" th:classappend="${(searchmode == 'text' || searchmode == null)}? 'active'" id="text-tab" data-toggle="tab" href="#text" role="tab" aria-controls="text" aria-selected="true">From Decklist</a></li>
            <li class="nav-item"><a class="nav-link" th:classappend="${(searchmode == 'url')}? 'active'" id="deckboxurl-tab" data-toggle="tab" href="#deckboxurl" role="tab" aria-controls="deckboxurl" aria-selected="false">From URL</a></li>
            <li class="nav-item"><a class="nav-link" th:classappend="${(searchmode == 'tokens')}? 'active'" id="tokenbyname-tab" data-toggle="tab" href="#tokenbyname" role="tab" aria-controls="tokenbyname" aria-selected="false">Tokens by Name</a></li>
        </ul>

        <div class="tab-content">
            <div class="tab-pane fade" th:classappend="${(searchmode == 'text' || searchmode == null)}? 'show active'" id="text" role="tabpanel" aria-labelledby="text-tab">
                <h6 class="mt-3" id="SearchInstructions">Enter cards separated by newlines:</h6>
                <form th:action="@{/tokens}" id="deck" method="post" autocomplete="off">
                    <div class="form-group">
                        <textarea class="form-control" rows="10" form="deck" name="cardlist" aria-labelledby="SearchInstructions" placeholder="Don't worry about leading numbers (e.g., &quot;2&nbsp;Raise&nbsp;the&nbsp;Alarm&quot;, &quot;3x&nbsp;Lingering&nbsp;Souls&quot;), they will be ignored."></textarea>
                    </div>
                    <div class="form-check">                       
                        <input type="checkbox" id="matchExact" name="matchExact">
                        <label for="matchExact">Match exact names only</label>
                    </div>
                    <div class="form-check">                       
                        <input type="checkbox" id="includeSilver" name="includeSilver">
                        <label for="includeSilver">Include silver-bordered cards</label>
                    </div>
                    
                    <button type="submit" role="button" class="btn btn-lg btn-primary btn-block">Show Tokens</button>
                </form>
            </div>
            <div class="tab-pane fade" th:classappend="${(searchmode == 'url')}? 'show active'" id="deckboxurl" role="tabpanel" aria-labelledby="deckboxurl-tab">
                <h6 class="mt-3" id="URLInstructions">Enter URL:</h6>
                <form th:action="@{/fromurl}" id="deckbox" method="post" autocomplete="off">
                    <div class="form-group">
                        <input class="form-control form-control-sm" form="deckbox" type="text" name="deckurl" aria-labelledby="URLInstructions" />
                    </div>
                    <div class="form-check">                       
                        <input type="checkbox" id="includeSilver2" name="includeSilver">
                        <label for="includeSilver2">Include silver-bordered cards</label>
                    </div>
                    <button type="submit" role="button" class="btn btn-lg btn-primary btn-block">Show Tokens</button>
                </form>
                <p class="mt-4">
                    The following websites are supported for URL importing:
                    <ul>
                        <li th:each="site: ${sites}" th:text="${site}"></li>
                    </ul>
                </p>
                <p class="mt-4" th:unless="${exclusions == null || #lists.size(exclusions) < 1}">
                    The following websites cannot be supported:
                    <ul>
                        <li class="w-75 mb-2" th:each="site: ${exclusions}"><span th:text="${site.site}"></span><br /><small th:text="${site.reason}"></small></li>
                    </ul>
                </p>
            </div>
            <div class="tab-pane fade" th:classappend="${(searchmode == 'tokens')}? 'show active'" id="tokenbyname" role="tabpanel" aria-labelledby="tokenbyname-tab">
                <h6 class="mt-3" id="TokenByNameInstructions">Enter token names separated by newlines:</h6>
                <form th:action="@{/tokensbyname}" id="tokenbynameform" method="post" autocomplete="off">
                    <div class="form-group">
                        <textarea class="form-control" rows="10" form="tokenbynameform" name="tokenlist" aria-labelledby="TokenByNameInstructions" placeholder="Enter tokens either by name ('Thopter'), or with power/toughness ('3/3 Angel'). Searching by color is not yet supported." ></textarea>
                    </div>

                    <button type="submit" role="button" class="btn btn-lg btn-primary btn-block">Show Tokens</button>
                </form>
            </div>
        </div>
    </main>
    <footer th:insert="fragments/footer.html :: footer"></footer>
</body>
</html>