<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments/header.html :: headerfiles"></head>
<body>
    <div th:insert="fragments/header.html :: scripts"></div>
    <nav th:insert="fragments/header.html :: navbar"></nav>

    <main role="main" class="container">
        <div class="container">
            <form th:action="@{/tokens}" id="deck" method="post">
                <div class="form-group">
                    <label for="cardlist">Enter any number of cards separated by newlines.</label>
                    <textarea class="form-control" rows="10" form="deck" name="cardlist" placeholder="Don't worry about leading numbers (e.g., &quot;2 Raise the Alarm&quot;, &quot;3x Lingering Souls&quot;), they will be ignored."></textarea>
                </div>
                
                <button type="submit" class="btn btn-lg btn-primary btn-block">Show Tokens</button>
            </form>
        </div>
    </main>
    <footer th:insert="fragments/footer.html :: footer"></footer>
</body>
</html>