<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments/header.html :: headerfiles"></head>
<body>
    <div th:insert="fragments/header.html :: scripts"></div>
    <nav th:insert="fragments/header.html :: navbar"></nav>

    <main role="main" class="container">
        <div th:insert="error_alerts(${cardlist})"></div>

        <div class="accordion" id="accordionExample">
            <div class="card">
                <div class="card-header">
                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#foundTokens" aria-expanded="true" aria-controls="foundTokens">
                    Tokens Needed
                    </button>
                </div>
                <div class="card-body collapse show" id="foundTokens">
                    <div class="d-inline-block" th:each="result: ${results}">
                        <ul class="list-group list-group-flush sourcerow">
                            <li class="list-group-item"><a th:href="${result.token.scryfall_uri}"><img th:src="${result.token.image_uris.normal}" height="400" /></a></li>
                            <li class="list-group-item" th:each="source: ${result.sources}"><a th:href="${source.scryfall_uri}"><span th:text="${source.name}"></span></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
                
        <div class="card" th:if="${contains_create != null}">
            <div class="card-header">
                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#mightMakeTokens" aria-expanded="true" aria-controls="mightMakeTokens">
                Other Tokens
                </button>
            </div>
            <div class="card-body  collapse show" id="mightMakeTokens">
                <h5 class="">These cards might create tokens, but have no officially associated token card.</h5>
                <div class="d-inline-block" th:each="source: ${contains_create}">
                    <a th:href="${source.scryfall_uri}"><img th:src="${source.image_uris.normal}" height="400" /></a>
                </div>
            </div>
        </div>
    </main>

    <footer th:insert="fragments/footer.html :: footer"></footer>
</body>
</html>