<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments/header.html :: headerfiles(title='Token Results')"></head>
<body>
    <div th:insert="fragments/header.html :: scripts"></div>
    <nav th:insert="fragments/header.html :: navbar"></nav>

    <main role="main" class="container">
        <div th:insert="fragments/error_alerts.html :: error_alerts(${cardlist})"></div>

        <div th:insert="fragments/token_results.html :: token_results(${results})"></div>
                
        <div th:unless="${contains_create == null || contains_create.empty}" th:insert="fragments/contains_create.html :: contains_create(${contains_create})"></div>
    </main>

    <footer th:insert="fragments/footer.html :: footer"></footer>
</body>
</html>